body{
	background: -webkit-linear-gradient(63deg, #151515 5px, transparent 5px) 0 5px,
            -webkit-linear-gradient(243deg, #151515 5px, transparent 5px) 10px 0px,
            -webkit-linear-gradient(63deg, #222 5px, transparent 5px) 0px 10px,
            -webkit-linear-gradient(243deg, #222 5px, transparent 5px) 10px 5px,
            -webkit-linear-gradient(0deg, #1b1b1b 10px, transparent 10px),
            -webkit-linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
background: -moz-linear-gradient(63deg, #151515 5px, transparent 5px) 0 5px,
            -moz-linear-gradient(243deg, #151515 5px, transparent 5px) 10px 0px,
            -moz-linear-gradient(63deg, #222 5px, transparent 5px) 0px 10px,
            -moz-linear-gradient(243deg, #222 5px, transparent 5px) 10px 5px,
            -moz-linear-gradient(0deg, #1b1b1b 10px, transparent 10px),
            -moz-linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
background: linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
            linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
            linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
            linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
            linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
            linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
background-size: 20px 20px;
background-color: #131313;
	opacity: 0.85;
	height: 100vh;
}
body::befo{
	background: -webkit-linear-gradient(63deg, #151515 5px, transparent 5px) 0 5px,
            -webkit-linear-gradient(243deg, #151515 5px, transparent 5px) 10px 0px,
            -webkit-linear-gradient(63deg, #222 5px, transparent 5px) 0px 10px,
            -webkit-linear-gradient(243deg, #222 5px, transparent 5px) 10px 5px,
            -webkit-linear-gradient(0deg, #1b1b1b 10px, transparent 10px),
            -webkit-linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
background: -moz-linear-gradient(63deg, #151515 5px, transparent 5px) 0 5px,
            -moz-linear-gradient(243deg, #151515 5px, transparent 5px) 10px 0px,
            -moz-linear-gradient(63deg, #222 5px, transparent 5px) 0px 10px,
            -moz-linear-gradient(243deg, #222 5px, transparent 5px) 10px 5px,
            -moz-linear-gradient(0deg, #1b1b1b 10px, transparent 10px),
            -moz-linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
background: linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
            linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
            linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
            linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
            linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
            linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
background-size: 20px 20px;
background-color: #131313;
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0.85;
	content: "";
	background-size: cover;
	background-repeat: no-repeat;
}
.header{
	width: 960;
	color: #FF00FF;
	font-size: 16px;
	text-align: center;
	margin: 70 auto;
	padding: 10px;
}
.text{
	color: #ab9090;
}
.h1{
	color:#ab9090;
	font-size: 32px;
}
.mail{
	color: #ab9090;
}
.mail:hover {
	color: #665c5c;
	text-decoration: none;
}
.feadback{
	width: 960;
	color: #000;
	font-size: 16px;
	text-align: center;
	margin: 70 auto;
	padding: 10px;
	padding-bottom: 40px;
}
.container{
	width: 960;
	position: relative;
	z-index: 1;
}
.form__input{
	width: 400px;
	background: white;
	border: 1px solid;
	font-size: 14px;
	padding: 10px 4px;
	margin: auto;
	display: block;
	margin-bottom: 10px;
	border-radius: 10px;
	
}
.form__button{
	width: 400px;
	background: black;
	font-size: 14px;
	border: 0;
	color: white;
	padding: 10px;
}
.window{
	width: 400px;
	background: white;
	border: 3px solid;
	font-size: 14px;
	padding: 10px 4px;
	margin: auto;
	display: block;
	margin-bottom: 10px;
	border-radius: 10px;
}
.select{
	width: 400px;
	background: white;
	border: 2px solid;
	font-size: 14px;
	padding: 10px 4px;
	margin: auto;
	display: block;
	margin-bottom: 10px;
	border-radius: 10px;
}
.socset{
	color: #ab9090;
}
.Vk{
	color: #ab9090;
}